.user-nav {
  &__icon-box {
    &--left {
      margin-left: 1.25rem;
    }

    &--right {
      margin-right: 1.25rem;
    }
  }

  &__icon {
    height: 2.75rem;
    width: 2.75rem;

    fill: var(--icon-fill);
  }
}
