/* line 1, ../sass/abstracts/_variables.scss */
:root {
  --color-primary: #2feb77;
  --color-primary-light: #33ff88;
  --color-primary-dark: #26ba3a;
  --color-seconday: orange;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #666;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --line-1: 1px solid var(--color-grey-light-4);
  --icon-fill: #00000;
  --header-background-color: #fff;
}

/* line 1, ../sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/base/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 12, ../sass/base/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* line 1, ../sass/base/_typography.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-color: var(--color-grey-light-1);
  min-height: 100vh;
}

/* line 1, ../sass/components/_card.scss */
.card {
  height: 25rem;
  width: 20rem;
  box-shadow: var(--shadow-light);
  border-radius: 3px;
  background-color: #fff;
  margin-right: 2rem;
  flex: 0 0 auto;
}

/* line 3, ../sass/components/_icon.scss */
.user-nav__icon-box--left {
  margin-left: 1.25rem;
}
/* line 7, ../sass/components/_icon.scss */
.user-nav__icon-box--right {
  margin-right: 1.25rem;
}
/* line 12, ../sass/components/_icon.scss */
.user-nav__icon {
  height: 2.75rem;
  width: 2.75rem;
  fill: var(--icon-fill);
}

/* line 2, ../sass/components/_news.scss */
.news-item {
  padding: 1rem;
  margin-bottom: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 1, ../sass/layout/_content.scss */
.content {
  padding-top: 5rem;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  height: 3rem;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 2, ../sass/layout/_frontpage.scss */
.frontpage__header {
  border-bottom: var(--line-1);
  background-color: #fff;
  text-align: center;
}
/* line 8, ../sass/layout/_frontpage.scss */
.frontpage__title {
  padding: 1rem;
}
/* line 12, ../sass/layout/_frontpage.scss */
.frontpage__news {
  background-color: var(--color-grey-light-4);
}

/* line 1, ../sass/layout/_header.scss */
.header {
  background-color: var(--header-background-color);
  height: 5rem;
  border-bottom: var(--line);
  position: fixed;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 2, ../sass/layout/_navigation.scss */
.user-nav__container {
  z-index: 100;
  position: fixed;
  top: 5rem;
  left: 0;
  height: 100vh;
  background-color: aquamarine;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* line 18, ../sass/layout/_navigation.scss */
.user-nav__checkbox {
  display: none;
}
/* line 22, ../sass/layout/_navigation.scss */
.user-nav__button {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* line 33, ../sass/layout/_navigation.scss */
.user-nav__background {
  position: fixed;
  top: 5rem;
  left: 0;
  height: 0;
  width: 0;
  z-index: 25;
  background: transparent;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
/* line 51, ../sass/layout/_navigation.scss */
.user-nav__list {
  list-style: none;
}
/* line 56, ../sass/layout/_navigation.scss */
.user-nav__link:link, .user-nav__link:visited {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
}
/* line 70, ../sass/layout/_navigation.scss */
.user-nav__checkbox:checked ~ .user-nav__background {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/* line 79, ../sass/layout/_navigation.scss */
.user-nav__checkbox:checked ~ .user-nav__container {
  width: 70%;
  opacity: 1;
  visibility: visible;
}
/* line 86, ../sass/layout/_navigation.scss */
.user-nav__icon-menu {
  position: relative;
}
/* line 89, ../sass/layout/_navigation.scss */
.user-nav__icon-menu, .user-nav__icon-menu::before, .user-nav__icon-menu::after {
  width: 3rem;
  height: 2px;
  background-color: var(--color-grey-dark-1);
  display: inline-block;
}
/* line 98, ../sass/layout/_navigation.scss */
.user-nav__icon-menu::before, .user-nav__icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
/* line 107, ../sass/layout/_navigation.scss */
.user-nav__icon-menu::before {
  top: 0.9rem;
}
/* line 111, ../sass/layout/_navigation.scss */
.user-nav__icon-menu::after {
  top: -0.9rem;
}
/* line 117, ../sass/layout/_navigation.scss */
.user-nav__button:hover .user-nav__icon-menu::before {
  top: 1rem;
}
/* line 121, ../sass/layout/_navigation.scss */
.user-nav__button:hover .user-nav__icon-menu::after {
  top: -1rem;
}
/* line 125, ../sass/layout/_navigation.scss */
.user-nav__checkbox:checked + .user-nav__button .user-nav__icon-menu {
  background: transparent;
}
/* line 129, ../sass/layout/_navigation.scss */
.user-nav__checkbox:checked + .user-nav__button .user-nav__icon-menu::before {
  top: 0;
  transform: rotate(135deg);
}
/* line 133, ../sass/layout/_navigation.scss */
.user-nav__checkbox:checked + .user-nav__button .user-nav__icon-menu::after {
  top: 0;
  transform: rotate(-135deg);
}

/* line 1, ../sass/pages/_home.scss */
.section-faces {
  padding: 1rem;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
/* line 9, ../sass/pages/_home.scss */
.section-faces::-webkit-scrollbar {
  display: none;
}
